body {
    background-color: #9fd5f5;
}


#TabelaPacientes {
    margin-left: 10px;
    margin-right: 10px;
    width: 90%;
    padding: 0;
    border-radius: 25px;
}

/* Estilizar o input de busca */
#search {
    margin-top: 20px;
    padding: 0%;
    width: 90%;
    border-radius: 5px;
}

/* Estilizar a tabela */
table {
    margin-top: 20px;
}



/* logo no canto superior esquerdo */
.logo {
    position: absolute;
    top: 15px;
    left: 15px;
    height: 150px; /* Ajuste o tamanho conforme necessário */
}

