{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Integra Dermatologia </title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="icon" href="{% static 'imagens/icon.png' %}"> 
</head>
<body>
    <div class="container">
        <h1 class="title">Integra Dermatologia</h1>
        <div class="nav">
            <a href="{% url 'pacientes' %}" class="btn">Pacientes</a>
            <a href="{% url 'medicos' %}" class="btn">Médicos</a>
            <a href="{% url 'agendar_consulta'%}" class="btn">Marcar Consultas</a>
        </div>
    </div>
</body>
</html>
