{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Médicos</title>
    <link rel="icon" href="{% static 'imagens/icon.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/medicos.css' %}">
</head>

<body>
    <!-- Logo  -->
    <a href="{% url 'home' %}">
        <img src="{% static 'imagens/icon.png' %}" alt="Logo da Clínica" class="logo">
    </a>

    <!-- Título principal -->
    <div class="container text-center my-4">
        <h1>Integra Dermatologia</h1>
    </div>

    <!-- Botão Cadastrar Médicos -->
    <div class="container text-center my-2">
        <a href="/medicos/cadastrar" class="btn btn-success">Cadastrar Médicos</a>
    </div>

    <!-- Campo de busca -->
    <div class="container text-center my-3">
        <form method="get" action="">
            <input type="text" name="search" value="{{ search }}" id="search" class="form-control" placeholder="Buscar">
        </form>
    </div>

    <!-- Tabela de Médicos -->
    <div class="container my-4">
        <div class="table-responsive">
            <table class="table" id="TabelaMedicos">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CRM</th>
                        <th scope="col">Especialidade</th>
                        <th scope="col">Horário</th>
                        <th scope="col">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dbs in db %}
                    <tr>
                        <th scope="row">{{ dbs.id }}</th>
                        <td>{{ dbs.nome }}</td>
                        <td>{{ dbs.crm }}</td>
                        <td>{{ dbs.especialidade }}</td>
                        <td>{{ dbs.horario }}</td>
                        <td>
                            <a href="/medicos/view/{{ dbs.id }}/" class="btn btn-dark btn-sm">Visualizar</a>
                            <a href="/medicos/edit/{{ dbs.id }}/" class="btn btn-primary btn-sm">Editar</a>
                            <a href="/medicos/delete/{{ dbs.id }}/" class="btn btn-danger btn-sm btnDel">Deletar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Paginação -->
    <nav aria-label="Page navigation" class="pagination-container">
        <ul class="pagination">
            {% if db.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?search={{ search }}&page={{ db.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}

            {% for num in db.paginator.page_range %}
            <li class="page-item {% if num == db.number %}active{% endif %}">
                <a class="page-link" href="?search={{ search }}&page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}

            {% if db.has_next %}
            <li class="page-item">
                <a class="page-link" href="?search={{ search }}&page={{ db.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>

    <!-- Botão Voltar -->
    <div class="container text-center my-4">
        <a href="{% url 'home' %}" class="btn btn-outline-secondary">Voltar para a página inicial</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2zF5fORyBI2bK5LM82V+A0j7GmGz8I1K34rI1VoIv6jTFYWwBfYG5xAUtL6" crossorigin="anonymous"></script>
    <script src="{% static 'javascript.js' %}"></script>
</body>
</html>
